<div class="row">
  <div class="col-md-4">
    <h4>{{welcomeMsg}}</h4>
    <button type="button" class="btn btn-success" ng-click="login()">Login</button>
    <button type="button" class="btn btn-primary" ng-click="logout()">Logout</button>
    <br>
    <br>
    <div class="well">
      <h4>User Info</h4>
      <ul>
        <li>ID: Some Id</li>
        <li>First Name: John</li>
        <li>Last Name: Doe</li>
        <li>Email Name: john@gmail.com</li>
        <li>Gender: male</li>
        <li>Locale: enGB</li>
      </ul>
    </div>
    <br>
    <div class="well">
      <h4>Permissions</h4>
      <ul>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Welcome to Facebook!</h3>
    <form>
      <div class="form-group">
        <label for="">Status Update</label>
        <textarea class="form-control"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
